{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">{{ 'messages.etiketak'| trans }}</a>
{% endblock menuTitle %}

{% block menuOptions %}
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav">
            <li><a href="{{ path('etiketa_new') }}" class="fa fa-plus"> {{ 'messages.etiketaberria'| trans }}</a></li>
        </ul>
    {% endif %}
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        <table class="table" id="taulazerrenda">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'| trans }}</th>{% endif %}
                    <th>{{ 'messages.etiketa'| trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for etiketum in etiketas %}
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ etiketum.udala }}</td>{% endif %}
                    <td>
                        {% if app.request.locale == 'es'%}{{ etiketum.etiketaes }}
                        {% else %}{{ etiketum.etiketaeu }}
                        {% endif %}
                    </td>
                    <td NOWRAP class="text-right">
                        <ul class="list-inline">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('etiketa_edit', { 'id': etiketum.id }) }}" class="fa fa-pencil"></a></li>
                                <li>{{ form_start(deleteforms[etiketum.id],{'attr': {'id': etiketum.id}}) }}
                                    <a href="#" {{ stimulus_controller('confirmation', {
                                            id: etiketum.id,
                                            mezua: 'messages.ziurzaude'| trans}) 
                                        }} 
                                        data-action="confirmation#onClick"><i class="fa fa-trash text-danger"></i></a>
                                    {{ form_end(deleteforms[etiketum.id]) }}</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}