{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">{{ 'messages.zerbitzua'| trans }}</a>
{% endblock menuTitle %}

{% block menuOptions %}
    <ul class="nav navbar-nav">
        <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> Gorde</a></li>
        <li><a href="{{ path('zerbitzua_index') }}" class="fa fa-undo"> Utzi</a></li>
    </ul>
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}
