{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">Ordenantzak</a>
{% endblock menuTitle %}

{% block menuOptions %}
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav">
            <li><a href="{{ path('ordenantza_new') }}" class="fa fa-plus"> Ordenantza berria</a></li>
        </ul>
    {% endif %}
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        <table class="table">
            <thead>
                <tr>
                    <th>Kodea</th>
                    <th>Izenburuaeu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ordenantza in ordenantzas %}
                <tr>
                    <td>{{ ordenantza.kodea }}</td>
                    <td>{{ ordenantza.izenburuaeu }}</td>
                    <td NOWRAP class="text-right">
                        <ul class="list-inline">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('ordenantza_edit', { 'id': ordenantza.id }) }}" class="fa fa-pencil"></a></li>
                                <li>{{ form_start(deleteforms[ordenantza.id],{'attr': {'id': ordenantza.id}}) }}
                                    <a href="#" onclick="document.getElementById({{ ordenantza.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                    {{ form_end(deleteforms[ordenantza.id]) }}</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% if ordenantzas is not empty %}
            {% else %}
                <p>{{ 'messages.emaitzarikez'| trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
