{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">Ordenantzaren parrafoak</a>
{% endblock menuTitle %}

{% block menuOptions %}
    {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav">
                <li><a href="{{ path('ordenantzaparrafoa_new') }}" class="fa fa-plus"> Parrafo berria</a></li>
            </ul>
    {% endif %}
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">

        <table class="table">
            <thead>
                <tr>
                    <th>Testuaeu</th>
                    <th>Testuaes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ordenantzaparrafoa in ordenantzaparrafoas %}
                <tr>
                    <td>{{ ordenantzaparrafoa.testuaeu |raw}}</td>
                    <td>{{ ordenantzaparrafoa.testuaes |raw}}</td>
                    <td NOWRAP class="text-right">
                        <ul class="list-inline">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ordenantzaparrafoa_edit', { 'id': ordenantzaparrafoa.id }) }}" class="fa fa-pencil"></a></li>
                                <li>{{ form_start(deleteforms[ordenantzaparrafoa.id],{'attr': {'id': ordenantzaparrafoa.id}}) }}
                                    <a href="#" onclick="document.getElementById({{ ordenantzaparrafoa.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>
                                    {{ form_end(deleteforms[ordenantzaparrafoa.id]) }}</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% if ordenantzaparrafoas is not empty %}
            {% else %}
                <p>{{ 'messages.emaitzarikez'| trans }}</p>
            {% endif %}
        </div>        
    </div>
{% endblock body %}
