{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">{{ 'messages.kostutaulak' | trans }}</a>
{% endblock menuTitle %}

{% block menuOptions %}
    <ul class="nav navbar-nav">
        <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'| trans }}</a></li>
        <li><a href="{{ path('azpiatala_index') }}" class="fa fa-undo"> {{ 'messages.zerrendara'| trans }}</a></li>
        <li><a href="{{ path('azpiatala_show', { 'id': azpiatala.id }) }}" class="fa fa-search"> {{ 'messages.taulaikusi'| trans }}</a></li>
    </ul>
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        {{ form_start(edit_form) }}
            {#{{ form_widget(edit_form) }}#}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="row">
        {% else %}
            <div class="row hidden">
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group">
                <b>{{ 'messages.udala'| trans }}</b>
                {#{{ form_label(edit_form.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                {{ form_errors(edit_form.udala) }}
                {{ form_widget(edit_form.udala, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        </div>

        <table class="table table-bordered">
            <tr>
                <td colspan="12" >
                    <div class="col-sm-2">
                        <b>{{ 'messages.kodea'| trans }}</b>
                        {#{{ form_label(edit_form.kodea, 'Kodea: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                        {{ form_errors(edit_form.kodea) }}
                        {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="col-sm-6">
                    <b>{{ 'messages.izenburua'| trans }} ({{ 'messages.eu'| trans }})</b>
                    {#{{ form_label(edit_form.izenburuaeu, 'Izenburua (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(edit_form.izenburuaeu) }}
                    {{ form_widget(edit_form.izenburuaeu, {'attr': {'class': 'form-control'}}) }}
                </td>
                <td colspan="5" class="col-sm-6">
                    <b>{{ 'messages.izenburua'| trans }} ({{ 'messages.es'| trans }})</b>
                    {#{{ form_label(edit_form.izenburuaes, 'Izenburua (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(edit_form.izenburuaes) }}
                    {{ form_widget(edit_form.izenburuaes, {'attr': {'class': 'form-control'}}) }}
                </td>
            </tr>
        </table>

        <table class="table table-bordered" id="parrafoa-fields-list" data-prototype="{% apply escape %}
        {% include 'azpiatalaparrafoa/prototype_new.html.twig' with {'form': edit_form.parrafoak.vars.prototype,'azpiatala':azpiatala} %}{% endapply %}">
                <tr class="burua"><th colspan="1">{{ 'messages.ordena'| trans }}:</th><th colspan="5">{{ 'messages.testua'| trans }} ({{ 'messages.eu'| trans }})</th><th colspan="5">{{ 'messages.testua'| trans }} ({{ 'messages.es'| trans }})</th><th colspan="1"></th></tr>
            {% for parrafoa in edit_form.parrafoak %}
                <tr>
                    <td colspan="1" class="col-sm-1">
                        {#{{ form_label(parrafoa.ordena, 'Ordena: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                        {{ form_widget(parrafoa.ordena) }}
                        <div class="hidden">
                            {#{{ form_label(parrafoa.udala, 'Udala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                            {{ form_widget(parrafoa.udala) }}
                        </div>
                        <div class="hidden">
                            {#{{ form_label(parrafoa.azpiatala, 'Azpiatala: ', { 'label_attr': {'class': 'control-label'} }) }}#}
                            {{ form_widget(parrafoa.azpiatala) }}
                        </div>
                    </td>
                    <td colspan="5" class="col-sm-5">
                        {#{{ form_label(parrafoa.testuaeu, 'Testua (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                        {{ form_widget(parrafoa.testuaeu) }}
                    </td>
                    <td colspan="5" class="col-sm-5">
                        {#{{ form_label(parrafoa.testuaes, 'Testua (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                        {{ form_widget(parrafoa.testuaes) }}
                    </td>
                    {#<td colspan="1" class="col-sm-1"></td>#}
                </tr>
            {% endfor %}
            <tr class="burua">
                <td colspan="12" class="text-right col-sm-12"><a href="#" id="add-parrafoa" class="col-sm-12">{{ 'messages.parrafoagehitu'| trans }}</a></td>
            </tr>
        </table>

        {#<table class="table table-bordered" id="kontzeptua-fields-list"#}
        {#data-prototype="{{ form_widget(edit_form.kontzeptuak.vars.prototype)|e }}">#}
        <table class="table table-bordered" id="kontzeptua-fields-list" data-prototype="{% apply escape %}
        {% include 'kontzeptua/prototype_new.html.twig' with {'form': edit_form.kontzeptuak.vars.prototype,'azpiatala':azpiatala} %}{% endapply %}">
            <tr class="burua"><th colspan="1">{{ 'messages.kodea'| trans }}:</th><th colspan="4">{{ 'messages.testua'| trans }} ({{ 'messages.eu'| trans }})</th><th colspan="1">{{ 'messages.kopurua'| trans }}<br/>{{ 'messages.unitatea'| trans }}</th><th colspan="4">{{ 'messages.testua'| trans }} ({{ 'messages.es'| trans }})</th><th colspan="1">{{ 'messages.mota'| trans }}<br>{{ 'messages.baldintza'| trans }}</th></tr>
                {% for kontzeptua in edit_form.kontzeptuak %}
                    <tr>
                        <td colspan="1" class="col-sm-1">
                            <div class="hidden">
                                {{ form_widget(kontzeptua.udala) }}
                                {{ form_widget(kontzeptua.azpiatala) }}
                            </div>
                            {{ form_widget(kontzeptua.kodea) }}
                        </td>
                        <td colspan="4" class="col-sm-4">{{ form_widget(kontzeptua.kontzeptuaeu) }}</td>
                        <td colspan="1" class="col-sm-1">
                            {{ form_widget(kontzeptua.kopurua) }}
                            {{ form_widget(kontzeptua.unitatea) }}
                        </td>
                        <td colspan="4" class="col-sm-4">{{ form_widget(kontzeptua.kontzeptuaes) }}</td>
                        <td colspan="1" class="col-sm-1">
                            {{ form_widget(kontzeptua.kontzeptumota) }}
                            {{ form_widget(kontzeptua.baldintza) }}
                        </td>
                    </tr>
                {% endfor %}
            <tr class="burua">
                <td colspan="12" class="text-right col-sm-12"><a href="#" id="add-kontzeptua" class="col-sm-12">{{ 'messages.kontzeptuagehitu'| trans }}</a></td>
            </tr>
            </table>
        </div>




        <div class="hidden">
        {{ form_end(edit_form) }}
        </div>

        <div id="app" 
            data-kontzeptuaCount="{{ edit_form.kontzeptuak|length }}" 
            data-parrafoaCount="{{ edit_form.parrafoak|length }}">
        </div>
    </div> 
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('azpiatala-edit') }}
{% endblock %}