{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">
        {% if ( app.user.udala is defined and app.user.udala != null and app.user.udala.eremuak ) %}
            {% if app.request.locale == 'es'%}{{ app.user.udala.eremuak.besteak1labeles }}
            {% else %}{{ app.user.udala.eremuak.besteak1labeleu }}
            {% endif %}
        {% endif %}
    </a>
{% endblock menuTitle %}

{% block menuOptions %}
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav">
            <li><a href="{{ path('besteak1_new') }}" class="fa fa-plus"> {{ 'messages.berria'| trans }}</a></li>
        </ul>
    {% endif %}
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        <table class="table" id="taulazerrenda">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'| trans }}</th>{% endif %}
                    <th>{{ 'messages.kodea'| trans }}</th>
                    <th>{{ 'messages.izenburua'| trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for besteak1 in besteak1s %}
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ besteak1.udala }}</td>{% endif %}
                    <td>{{ besteak1.kodea }}</td>
                    <td>
                        {% if app.request.locale == 'es'%}{{ besteak1.izenburuaes }}
                        {% else %}{{ besteak1.izenburuaeu }}
                        {% endif %}
                    </td>
                    <td NOWRAP class="text-right">
                        <ul class="list-inline">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('besteak1_edit', { 'id': besteak1.id }) }}" class="fa fa-pencil"></a></li>
                                <li>{{ form_start(deleteforms[besteak1.id],{'attr': {'id': besteak1.id}}) }}
                                    <a href="#" {{ stimulus_controller('confirmation', {
                                            id: besteak1.id,
                                            mezua: 'messages.ziurzaude'| trans}) 
                                        }} 
                                        data-action="confirmation#onClick"><i class="fa fa-trash text-danger"></i></a>
                                    {{ form_end(deleteforms[besteak1.id]) }}</li>
                            {% endif %}

                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if besteak1s is empty %}
            <div class="text-center">
                <p>{{ 'messages.emaitzarikez'| trans }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}