{% extends 'base.html.twig' %}

{% block menuTitle %}<a class="navbar-brand">{{ 'messages.araudiak'| trans }}</a>{% endblock menuTitle %}

{% block menuOptions %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('araudia_new') }}" class="fa fa-plus"> {{ 'messages.arauberria'| trans }}</a></li>
    </ul>
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        <table class="table" id="taulazerrenda">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<th>{{ 'messages.udala'| trans }}</th>{% endif %}
                    <th>{{ 'messages.kodea'| trans }}</th>
                    <th>{{ 'messages.araua'| trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for araudium in araudias %}
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ araudium.udala }}</td>{% endif %}
                    <td>{{ araudium.kodea }}</td>
                    <td>
                        {% if app.request.locale == 'es'%}{{ araudium.arauaes }}
                        {% else %} {{ araudium.arauaeu }}
                        {% endif %}
                    </td>
                    <td NOWRAP class="text-right">
                        <ul class="list-inline">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('araudia_edit', { 'id': araudium.id }) }}" class="fa fa-pencil"></a></li>
                                <li>{{ form_start(deleteforms[araudium.id],{'attr': {'id': araudium.id}}) }}
                                    <a href="#" {{ stimulus_controller('confirmation', {
                                            id: araudium.id,
                                            mezua: 'messages.ziurzaude'| trans}) 
                                        }} 
                                        data-action="confirmation#onClick">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {{ form_end(deleteforms[araudium.id]) }}</li>

                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            {% if araudias is empty %}
                <p>{{ 'messages.emaitzarikez'| trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}