{% if (eremuak.araudiatext or eremuak.araudiatable) %}
   <div id="araudia" class="row seccion">
      <div class="pl-0 col-sm-12">
            <div class="page-header border-none mb-0">
               <h3>
                  {% if app.request.locale == 'eu' %}{{ labelak.araudialabeleu }}
                  {% else %}{{ labelak.araudialabeles }}
                  {% endif %}
               </h3>
            </div>
            {% set kont=0 %}
            <div>
               {% if eremuak.araudiatext %}
                  {% if app.request.locale == 'eu' %}{{ fitxa.araudiaeu |raw }}
                  {% else %}{{ fitxa.araudiaes |raw }}
                  {% endif %}
               {% endif %}
               <br>
               {% if eremuak.araudiatable %}
                  <ul>
                        {% for araua in fitxa.araudiak %}
                           <li>
                              {% if app.request.locale == 'eu' %}
                                    {% if araua.araudia.estekaeu %}
                                    <a class="underline" href="{{ araua.araudia.estekaeu }}" target="_blank">
                                       {{ araua.araudia.arauaeu }} </a>{{ araua.atalaeu }}
                                    {% else %}
                                       {{ araua.araudia.arauaeu }} - {{ araua.atalaeu }}
                                    {% endif %}
                              {% else %}
                                    {% if araua.araudia.estekaes %}
                                    <a class="underline" href="{{ araua.araudia.estekaes }}" target="_blank">
                                       {{ araua.araudia.arauaes }}</a>{{ araua.atalaes }}
                                    {% else %}
                                       {{ araua.araudia.arauaes }} - {{ araua.atalaes }}
                                    {% endif %}
                              {% endif %}
                           </li>
                           {% set kont=kont+1 %}
                        {% endfor %}
                  </ul>
               {% endif %}
               {% if app.request.locale == 'eu' %}
                  {% if (fitxa.araudiaeu is empty and kont==0) %}
                        Ez dagokio
                  {% endif %}
               {% else %}
                  {% if (fitxa.araudiaes is empty and kont==0) %}
                        No corresponde
                  {% endif %}
               {% endif %}
            </div>
      </div>
   </div>
{% endif %}
