<nav id="eskumako-zutabea" class="navbar navbar-expand-md">
   <div id="aurkibidea" class="navbar-collapse collapse w-100">
      <div class="p-1 aurkibidea">
         <div class="aurkibide-titulua h4 mt-0 mb-0"><b>{{ 'messages.aurkibidea' | trans }}</b></div>
         <ol class="aurkibide-zerrenda mb-0">
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#helburua">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.helburualabeleu }}
                     {% else %} 
                        {{ labelak.helburualabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#norkeskatu">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.norkeskatulabeleu }}
                     {% else %} 
                        {{ labelak.norkeskatulabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#dokumentazioa">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.dokumentazioalabeleu }}
                     {% else %} 
                        {{ labelak.dokumentazioalabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#kostua">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.kostualabeleu }}
                     {% else %} 
                        {{ labelak.kostualabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#ebazpen">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.aurreikusilabeleu }}
                     {% else %} 
                        {{ labelak.aurreikusilabeles }}
                     {% endif %}
               </a>
            </li>
            {# <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#norkebatzi">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.norkebatzilabeleu }}
                     {% else %} 
                        {{ labelak.norkebatzilabeles }}
                     {% endif %}
               </a>
            </li> #}
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#kanala">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.kanalalabeleu }}
                     {% else %} 
                        {{ labelak.kanalalabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#prozedura">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.prozeduralabeleu }}
                     {% else %} 
                        {{ labelak.prozeduralabeles }}
                     {% endif %}
               </a>
            </li>
            {# <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#epea">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.epealabeleu }}
                     {% else %} 
                        {{ labelak.epealabeles }}
                     {% endif %}
               </a>
            </li> #}
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#araudia">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.araudialabeleu }}
                     {% else %} 
                        {{ labelak.araudialabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#datuenbabesa">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.datuenbabesalabeleu }}
                     {% else %} 
                        {{ labelak.datuenbabesalabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#besteak1">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.besteak1labeleu }}
                     {% else %} 
                        {{ labelak.besteak1labeles }}
                     {% endif %}
               </a>
            </li>

            {# <li class="list-inline h5 mt-0 mb-0 pt-10px pb-10px">
               <a href="#azpisaila">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.azpisailalabeleu }}
                     {% else %} 
                        {{ labelak.azpisailalabeles }}
                     {% endif %}
               </a>
            </li>
            <li class="list-inline h5 mt-0 mb-0 last-item pt-10px pb-10px">
               <a href="#oharrak">
                     {% if app.request.locale == 'eu' %}
                        {{ labelak.oharraklabeleu }}
                     {% else %} 
                        {{ labelak.oharraklabeles }}
                     {% endif %}
               </a>
            </li> #}
         <ol>
      </div>
      <div id="informazio-gehiago" class="bordered-box mt-1 p-1">
         <div id="informazio-gehiagoTitle" class="h3">{{ 'messages.masInfo' | trans }}</div>
         <ul class="kanal-zerrenda">
            <br>
            <li class="telefono-kanala h5 font-weight-400"><b>{{ 'messages.telefonoa' | trans }}</b></li>
            <li><a class="underline" href="tel:+34946300002">94 630 00 02</a></li>
            <br>
            <li class="whatsapp-kanala h5 font-weight-400"><b>{{ 'messages.whatsapp' | trans }}</b></li>
            <li><a class="underline" href="https://wa.me/34688866600?text={{ 'messages.whatsapp.default' | trans | url_encode }}" target="_blank">688 866 600</a></li>
            <br>
            <li class="mail-kanala h5 font-weight-400"><b>{{ 'messages.emaila' | trans }}</b></li>
            <li><a class="underline" href="mailto:{{ fitxa.azpisaila.email}}">{{ fitxa.azpisaila.email }}</a></li>
         </ul>
      </div>
   </div>
</nav>
