{% if (eremuak.doklaguntext or eremuak.doklaguntable) %}
   <div id="doklagun" class="row seccion">
      <div class="pl-0 col-sm-12">
            <div class="page-header border-none mb-0">
               <h3 class="h2">
                  {% if app.request.locale == 'eu' %}{{ labelak.doklagunlabeleu }}
                  {% else %}{{ labelak.doklagunlabeles }}
                  {% endif %}

               </h3>
            </div>
            <div>
               {% if eremuak.doklaguntext %}
                  {% if app.request.locale == 'eu' %}{{ fitxa.doklaguneu |raw }}
                  {% else %}{{ fitxa.doklagunes |raw }}
                  {% endif %}
               {% endif %}
               {% if eremuak.doklaguntable %}
                  <ul>
                        {% for doklagun in fitxa.doklagunak %}
                           <li>
                              {% if app.request.locale == 'eu' %}
                                    {% if doklagun.estekaeu %}
                                       <a href="{{ doklagun.estekaeu }}">
                                          {{ doklagun.kodea }} {{ doklagun.deskribapenaeu }}
                                       </a>
                                    {% else %}
                                       {{ doklagun.kodea }} {{ doklagun.deskribapenaeu }}
                                    {% endif %}
                              {% else %}
                                    {% if doklagun.estekaes %}
                                       <a href="{{ doklagun.estekaes }}">
                                          {{ doklagun.kodea }} {{ doklagun.deskribapenaes }}
                                       </a>
                                    {% else %}
                                       {{ doklagun.kodea }} {{ doklagun.deskribapenaes }}
                                    {% endif %}
                              {% endif %}
                           </li>
                        {% endfor %}
                  </ul>
               {% endif %}
            </div>
      </div>
   </div>
{% endif %}
