{% if (eremuak.ebazpensinpli or eremuak.arduraaitorpena or eremuak.aurreikusi or eremuak.arrunta or eremuak.isiltasunadmin) %}
   <div id="ebazpen" class="row seccion">
      <div class="pl-0 col-sm-12">
            <div class="page-header border-none mb-0">
               <h3>
                  {% if app.request.locale == 'eu' %}{{ labelak.epealabeleu }}
                  {% else %}{{ labelak.epealabeles }}
                  {% endif %}
               </h3>
            </div>
            <div>
               {% if eremuak.aurreikusi %}
                  {% if fitxa.aurreikusi %}
                        {% if app.request.locale == 'eu' %}{{ labelak.aurreikusilabeleu }}: <b>{{ fitxa.aurreikusi.epeaeu }}</b>
                        {% else %}{{ labelak.aurreikusilabeles }}: <b>{{ fitxa.aurreikusi.epeaes }}</b>
                        {% endif %}
                  {% endif %}<br>
               {% endif %}
               {% if eremuak.arrunta %}
                  {% if fitxa.arrunta %}
                        {% if app.request.locale == 'eu' %}{{ labelak.arruntalabeleu }}: <b>{{ fitxa.arrunta.epeaeu }}</b>
                        {% else %}{{ labelak.arruntalabeles }}: <b>{{ fitxa.arrunta.epeaes }}</b>
                        {% endif %}
                  {% endif %}<br>
               {% endif %}
               {% if eremuak.ebazpensinpli %}
                  {% if fitxa.ebazpensinpli %}
                        {% if app.request.locale == 'eu' %}{{ labelak.ebazpensinplilabeleu }} <br>
                        {% else %}{{ labelak.ebazpensinplilabeles }} <br>
                        {% endif %}
                  {% endif %}
               {% endif %}
               {% if eremuak.arduraaitorpena %}
                  {% if fitxa.arduraaitorpena %}
                        {% if app.request.locale == 'eu' %}{{ labelak.arduraaitorpenalabeleu }}<br>
                        {% else %}{{ labelak.arduraaitorpenalabeles }}<br>
                        {% endif %}
                  {% endif %}
               {% endif %}
               {% if eremuak.isiltasunadmin %}
                  {% if fitxa.isiltasunadmin %}
                        {% if app.request.locale == 'eu' %}{{ labelak.isiltasunadminlabeleu }}: <b>{{ fitxa.isiltasunadmin.isiltasuneu }}</b>
                        {% else %}{{ labelak.isiltasunadminlabeles }}: <b>{{ fitxa.isiltasunadmin.isiltasunes }}</b>
                        {% endif %}
                  {% endif %}
               {% endif %}
            </div>
      </div>
   </div>
{% endif %}
