<div class="footer-bg w-100 mt-1">
      <footer class="container footer footer-text pb-1">
            <div id="columnas-footer" class="row mt-1 pl-40px flex-justify-content-space-evenly mt-0">
                  <div id="ubicacion-column" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row ubicacion-bg pl-2">
                        <b>{{ 'footer.ubicacion1' | trans | raw }}</b><br><br>
                        {{ 'footer.ubicacion2' | trans | raw }}
                        </div>
                  </div>
                  <div id="horario-column" class="col-lg-4 col-md-4  col-sm-6">
                        <div class="row horario-bg pl-2"><b>{{ 'footer.horario1' | trans | raw }}</b><br>{{ 'footer.horario2' | trans | raw }}<br><br></div>
                        <div class="row whatsapp-bg pl-2"><b>{{ 'footer.whatsapp1' | trans | raw }}</b><br><a class="text-decoration-none" href="https://wa.me/34688866600?text={{ 'messages.whatsapp.default' | trans | url_encode }}" target="_blank">688 866 600</a><br><br></div>
                        {% if app.request.locale == 'eu' %}
                              {% set url = 'https://amorebieta-etxano.eus/eu/idatzi-udalari/' %}
                        {% else %} 
                              {% set url = 'https://amorebieta-etxano.eus/es/escribe-al-ayuntamiento/' %}
                        {% endif %}
                        <a href="{{ url }}" target="_blank"><div class="row escribe-bg pl-2"><u><b>{{ 'footer.escribe1' | trans | raw }}</u><br><u>{{ 'footer.escribe2' | trans | raw }}</u></b><br></div></a>
                  </div>
                  <div id="SAC-column" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row pl-2 footer-sac-title h3 mt-0"><b>{{ 'footer.SAC' | trans | raw }}</b></div>
                        <br>
                        {% if app.request.locale == 'eu' %}
                              {% set url = 'https://amorebieta-etxano.eus/eu/herritarren-arreta-zerbitzua/' %}
                        {% else %} 
                              {% set url = 'https://amorebieta-etxano.eus/es/cita-previa-del-sac/' %}
                        {% endif %}
                        <div class="row contacto-bg pl-2"><b>{{ 'footer.contacto1' | trans | raw }}</b><br><a href="{{ url }}" target="_blank">{{ 'footer.contacto2' | trans | raw }}</a><br><br></div>
                        <div class="row telefono-bg pl-2"><b>{{ 'footer.telefono1' | trans | raw }}</b><br>010{{ 'footer.y' | trans }}<a href="tel:+34946300002">94 630 00 02</a><br><br></div>
                        <div class="row correo-bg pl-2"><b>{{ 'footer.correo1' | trans | raw }}</b><br><a href='mailto:haz@amorebieta.eus'>haz@amorebieta.eus</a></div>
                  </div>
            </div>
            <div class="pl-1 pr-1">
                  <span id="social-media">
                        <a href="https://www.facebook.com/amorebietaetxanokoudala" target="_blank"><img src="{{ asset('build/images/facebook-active.png') }}"></a>&nbsp;&nbsp;
                        <a href="https://twitter.com/amoretxanoudala" target="_blank"><img src="{{ asset('build/images/twitterX-active.png') }}"></a>&nbsp;&nbsp;
                        <a href="https://www.instagram.com/amorebietaetxanokoudala/" target="_blank"><img src="{{ asset('build/images/instagram-active.png') }}"></a>&nbsp;&nbsp;
                        <a href="https://www.spotify.com/" target="_blank"><img src="{{ asset('build/images/spotify-active.png') }}"></a>&nbsp;&nbsp;
                  </span>
                  <hr>
            </div>
            <div id="politica" class="footer-text pl-1 pr-1 flex-row">
                  <span>
                        <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/politica-de-privacidad/' : 'https://amorebieta-etxano.eus/eu/pribatutasun-politika/' }}" target="_blank"><b>{{ 'footer.politica' | trans }}</b></a>&nbsp;&nbsp;
                        <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/aviso-legal/' : 'https://amorebieta-etxano.eus/eu/lege-oharra/' }}" target="_blank"><b>{{ 'footer.aviso' | trans }}</b></a>&nbsp;&nbsp;
                        <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/politica-de-cookies/' : 'https://amorebieta-etxano.eus/eu/cookien-politika/' }}" target="_blank"><b>{{ 'footer.cookies' | trans }}</b></a>&nbsp;&nbsp;
                        <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/accesibilidad/' : 'https://amorebieta-etxano.eus/eu/irisgarritasuna/' }}" target="_blank"><b>{{ 'footer.accesibilidad' | trans }}</b></a>
                  </span>
                  <span id="copy" class="ml-auto">{{ "now" | date('Y') }} Amorebieta-Etxanoko Udala&nbsp;</span>
            </div>
            <br>
      </footer>
</div>
