{% if (eremuak.norkeskatutext or eremuak.norkeskatutable) %}
   <div id="norkeskatu" class="row seccion">
      <div class="pl-0 col-sm-12">
            <div class="page-header border-none mb-0">
               <h3>
                  {% if app.request.locale == 'eu' %}{{ labelak.norkeskatulabeleu }}
                  {% else %}{{ labelak.norkeskatulabeles }}
                  {% endif %}
               </h3>
            </div>
            <div>
               {% if eremuak.norkeskatutext %}
                  {% if app.request.locale == 'eu' %}{{ fitxa.norkeu |raw }}
                  {% else %}{{ fitxa.norkes |raw }}
                  {% endif %}
               {% endif %}
               {% if eremuak.norkeskatutable %}
                  <ul>
                        {% for nork in fitxa.norkeskatuak %}
                           {% if app.request.locale == 'eu' %}
                              <li>{{ nork.norkeu }}</li>
                           {% else %}
                              <li>{{ nork.norkes }}</li>
                           {% endif %}
                        {% endfor %}
                  </ul>
               {% endif %}
            </div>
      </div>
   </div>
{% endif %}