{% if (eremuak.prozeduratext or eremuak.prozeduratable) %}
   <div id="prozedura" class="row seccion">
      <div class="pl-0 col-sm-12">
            <div class="page-header border-none mb-0">
              <h3 class="h2">
                  {% if app.request.locale == 'eu' %}{{ labelak.prozeduralabeleu }}
                  {% else %}{{ labelak.prozeduralabeles }}
                  {% endif %}
               </h3>
            </div>
            <div>
               {% if eremuak.prozeduratext %}
                  {% if app.request.locale == 'eu' %}{{ fitxa.prozeduraeu |raw }}
                  {% else %}{{ fitxa.prozeduraes |raw }}
                  {% endif %}
               {% endif %}
               {% if eremuak.prozeduratable %}
                  <ul>
                        {% for prozedura in fitxa.prozedurak %}
                           <li>
                              {% if app.request.locale == 'eu' %}{{ prozedura.prozedura.prozeduraeu }}
                              {% else %}{{ prozedura.prozedura.prozeduraes }}
                              {% endif %}
                           </li>
                        {% endfor %}
                  </ul>
               {% endif %}
            </div>
      </div>
   </div>
{% endif %}