{% extends 'base.html.twig' %}

{% block menua %}
    <nav id="logo_lerroa" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header w100">
                <ul class="nav navbar-nav flex-row-wrap mt-5px w100">
                    <li><img id="logoa" src="{{ asset('build/images/logo.png') }}" alt="Amorebieta-Etxanoko Udala"/></li>
                    <li id="goiburua" class="list-inline">{{ "messages.goiburua" | trans }}</li>
                    <li id="goiburua-spacer">&nbsp;</li>
                    <li id="itzuli_esteka" class="list-inline ml-auto">
                        <a href="https://www.amorebieta-etxano.eus/">
                            <img id="itzultzeko-gezia" src="{{ asset('build/images/flecha_header.png') }}" alt="{{ "Volver a la web del ayuntamiento" | trans }}" title="{{ "Volver a la web del ayuntamiento" | trans }}">
                            &nbsp;{{ "Volver a la web del ayuntamiento" | trans | raw }}
                       </a>
                    </li>
                    <li class="list-inline ml-auto hizkuntza hizkuntza-eu">
                        <a class="{{ app.request.locale == 'eu' ? 'blue-active' : '' }}"
                            href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'eu'})) }}">EU
                        </a>
                    </li>            
                    <li class="list-inline ml-1 hizkuntza hizkuntza-es">
                        <a class="{{ app.request.locale == 'es' ? 'blue-active' : '' }}"
                            href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">ES
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="menu_lerroa" class="navbar navbar-default">
        <div class="container pl-0">
            <div class="navbar-header w100">
                <a class="navbar-brand"></a>
                {% block breadcrumbs %}{% endblock breadcrumbs %}    
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
            </div>
        </div>
    </nav>
{% endblock menua %}

{% block footer %}
    <footer class="footer footer-bg footer-text pb-2">
        <div id="columnas-footer" class="row mt-1 pl-2 flex-justify-content-space-evenly">
            <div id="ubicacion-column" class="col-lg-4 col-md-4 col-sm-6">
                <div class="row ubicacion-bg pl-2">
                  <b>{{ 'footer.ubicacion1' | trans | raw }}</b><br><br>
                  {{ 'footer.ubicacion2' | trans | raw }}<br><br>
                </div>
                <div id="social-media" class="row">
                    <a href="https://www.facebook.com/amorebietaetxanokoudala" target="_blank"><img src="{{ asset('build/images/facebook-active.png') }}"></a>&nbsp;&nbsp;
                    <a href="https://twitter.com/amoretxanoudala" target="_blank"><img src="{{ asset('build/images/twitterX-active.png') }}"></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/amorebietaetxanokoudala/" target="_blank"><img src="{{ asset('build/images/instagram-active.png') }}"></a>&nbsp;&nbsp;
                    <a href="https://www.spotify.com/" target="_blank"><img src="{{ asset('build/images/spotify-active.png') }}"></a>&nbsp;&nbsp;
                </div>
            </div>
            <div id="horario-column" class="col-lg-4 col-md-4  col-sm-6">
                <div class="row horario-bg pl-2"><b>{{ 'footer.horario1' | trans | raw }}</b><br>{{ 'footer.horario2' | trans | raw }}<br><br></div>
                <div class="row whatsapp-bg pl-2"><b>{{ 'footer.whatsapp1' | trans | raw }}</b><br>{{ 'footer.whatsapp2' | trans | raw }}<br><br></div>
                <div class="row escribe-bg pl-2"><u><b>{{ 'footer.escribe1' | trans | raw }}</u><br><u>{{ 'footer.escribe2' | trans | raw }}</u></b><br></div>
            </div>
            <div id="SAC-column" class="col-lg-4 col-md-4 col-sm-6">
                <div class="row pl-2 footer-sac-title"><b>{{ 'footer.SAC' | trans | raw }}</b><br><br></div>
                <div class="row contacto-bg pl-2"><b>{{ 'footer.contacto1' | trans | raw }}</b><br><u>{{ 'footer.contacto2' | trans | raw }}</u><br><br></div>
                <div class="row telefono-bg pl-2"><b>{{ 'footer.telefono1' | trans | raw }}</b><br>010{{ 'footer.y' | trans }}<a href="tel:+34946300002">94 630 00 02</a><br><br></div>
                <div class="row correo-bg pl-2"><b>{{ 'footer.correo1' | trans | raw }}</b><br><a href='mailto:haz@amorebieta.eus'>haz@amorebieta.eus</a></div>
            </div>
        </div>
        <div class="mt-1 pl-1 pr-1">
            <hr>
        </div>
        <div id="politica" class="footer-text pl-2 pr-2 flex-row">
            <span>
                <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/politica-de-privacidad/' : 'https://amorebieta-etxano.eus/eu/pribatutasun-politika/' }}" target="_blank"><b>{{ 'footer.politica' | trans }}</b></a>&nbsp;&nbsp;
                <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/aviso-legal/' : 'https://amorebieta-etxano.eus/eu/lege-oharra/' }}" target="_blank"><b>{{ 'footer.aviso' | trans }}</b></a>&nbsp;&nbsp;
                <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/politica-de-cookies/' : 'https://amorebieta-etxano.eus/eu/cookien-politika/' }}" target="_blank"><b>{{ 'footer.cookies' | trans }}</b></a>&nbsp;&nbsp;
                <a href="{{ app.locale == 'es' ? 'https://amorebieta-etxano.eus/es/accesibilidad/' : 'https://amorebieta-etxano.eus/eu/irisgarritasuna/' }}" target="_blank"><b>{{ 'footer.accesibilidad' | trans }}</b></a>
            </span>
            <span id="copy" class="ml-auto">{{ "now" | date('Y') }} Amorebieta-Etxanoko Udala&nbsp;</span>
        </div>
    </footer>
{% endblock footer %}