{% extends 'frontend/frontend-layout.html.twig' %}

{% block body %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'messages.goiburua' | trans }}</h1>
                <div class="col-lg-1 col-md-1 divider">&nbsp;</div>
            </div>
        </div>

        <div id="intro" class="row">
            <div class="col-lg-12">{{ 'message.intro' | trans | raw }}</div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 gray-bg themed-grid-col mb-3">
            <div class="col-lg-5 col-md-5 col-sm-5">
            
            </div>
            <div id="divFiltrar" class="col-lg-7 col-md-7 col-sm-7">
                <div class="form-group">
                    <label class="sr-only" for="inputFiltrar">{{ "messages.bilatu_placeholder" | trans | capitalize }}</label>
                    <div class="input-group">
                        <div id="filtrarLogo" class="input-group-addon">
                            <img id="filtrarImg" src="{{ asset('build/images/lupa.png') }}"></div>
                            <input id="inputFiltrar" class="form-control" placeholder="{{ "messages.bilatu_placeholder" | trans | capitalize }}" type="text">
                        <div id="filtrarText" class="input-group-addon gray-text">{{ 'messages.bilatu' | trans }}</div>
                    </div>
                </div>
            </div>
        </div>

        {% set azpisailaId = app.request.get('azpisaila') %}
        {# Si pulsamos cualquier botón el resto se tienen que apagar aunque sean de otra familia con lo cual hay que poner el controlador en un punto en el que abarque todos los botones #}
        <div class="familia-list-wrapper" {{ stimulus_controller('subfamilias-button', {
            'activeClass' : 'famButtonActive',
            'backgroundClassTemplate':'bg-fam-${number}-active',
        }) }}>
            {% set familiaId = app.request.get('familia') %}
            {% for familia in familiak %}
                <div class="familia mt-4" data-action="erakutsi-ezkutatu:close->subfamilias-button#onListClose">
                    {# START Familia titulua #}
                    <div class="tituloFamilia-block">
                        <h2 class="h2">
                            {% if app.request.locale == 'eu' %}{{ familia.familiaeu }}{% else %} {{ familia.familiaes }}{% endif %}
                        </h2>
                        <hr class="hrGray hr-1first-line-width">
                        <hr class="hrGray">
                    </div>
                    {# END Familia titulua #}
                    {% if (familiaId is not null and familiaId == familia.id) or familiaId is null %}
                        <div class="listaServicios" id='fam-{{ familia.id }}'>
                            {# START azpifamiliak eta euren semeak #}
                            <div class="flex-row-wrap mt-5px subfamilias">
                                {% for c in familia.children | sort %}
                                    {% set imgName = 'build/images/fam-'~c.id~'.png' %}
                                    {% set imgNameActive = 'build/images/fam-'~c.id~'-active.png' %}
                                    <button href="#" id="fam-{{ c.id }}-button" class="btn-azpifamilia font-weight bg-fam-{{c.id}}" data-subfamilias-button-target="button"
                                        {{ stimulus_controller('erakutsi-ezkutatu', {
                                                'id': 'fam-' ~ c.id ~ '-children-block',
                                                'children-class': 'js-children-block',
                                                'button': 'fam-'~c.id~'-button'
                                            }
                                        )}}
                                        data-action="click->subfamilias-button#onClick click->erakutsi-ezkutatu#onClick">
                                        {% if app.request.locale == 'eu' %}{{ c.familiaeu }}{% else %}{{ c.familiaes }}{% endif %}
                                    </button>
                                {% endfor %}
                            </div>

                            {% for c in familia.children | sort %}
                                <div id="fam-{{c.id}}-children-block" class="text-align-right js-children-block" style="display: none">
                                    <div class="js-children-block-close" data-action="click->erakutsi-ezkutatu#onClick" {{ stimulus_controller('erakutsi-ezkutatu', { 'id' : 'fam-'~c.id~'-children-block', 'button': 'fam-'~c.id~'-button', 'children-class' : 'js-children-block'})}}>
                                        <img class="cursor-pointer" src="{{ asset('build/images/flecha desplegable_subcategorias.png') }}">
                                        <hr class="hrGray hr-1first-line-width-right">
                                        <hr class="hrGray">
                                    </div>
                                
                                    {% for fitx in c.fitxafamilia %}
                                        <a data-orden="{{ fitx.fitxa.espedienteKodea }}" data-id="{{ fitx.id }}" href="{{ path('frontend_fitxa_show', { 'udala': udala,'id': fitx.fitxa.id }) }}">
                                            <div class="flex-row fitxa-lerroa-margin js-lista-servicios" {{ stimulus_controller('listaservicios-row')}}>
                                                <button class="espedienteKodeaBtn" 
                                                    data-listaservicios-row-target="rowButton" 
                                                    data-action="mouseover->listaservicios-row#onMouseOver mouseout->listaservicios-row#onMouseOut">
                                                    {{ fitx.fitxa.espedienteKodea }}
                                                </button>
                                                <div class="fitxa-lerroa {{ ( loop.index % 2 ) == 0 ? 'fitxa-lerroa-par-bg' : 'fitxa-lerroa-impar-bg' }} gezia"  data-loop-index="{{ loop.index }}"
                                                    data-listaservicios-row-target="row"
                                                    data-action="mouseover->listaservicios-row#onMouseOver mouseout->listaservicios-row#onMouseOut">
                                                    <div class="w96">{% if app.request.locale == 'eu' %}{{ fitx.fitxa.deskribapenaeu }}{% else %} {{ fitx.fitxa.deskribapenaes }}{% endif %}</div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {# END azpifamiliak eta euren semeak #}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('frontend-index') }}
{% endblock javascripts %}