{% extends 'frontend/index.html.twig' %}

{% block breadcrumbs %}
    <div class="flex-row-wrap">
        <div id="breadcrum-text" class="nav navbar-nav breadcrum">
            <a href="{{ path('frontend_fitxa_index', {'udala': fitxa.udala.id }) }}"> {{ 'messages.inicio' | trans }}</a>&nbsp;&nbsp;>&nbsp;&nbsp;  
            {% if app.request.locale == 'eu' %}
                {{ familiaEu }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ fitxa.deskribapenaeu }}
            {% else %}
                {{ familiaEs }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ fitxa.deskribapenaes }}
            {% endif %}
        </div>
        <div id="return-button" class="ml-auto breadcrum">
            <a href="{{ path('frontend_fitxa_index', { 'udala': udala }) }}"><i class="fa fa-undo"></i>&nbsp;{{ 'messages.atzera' | trans }}</a>
        </div>
    </div>
{% endblock breadcrumbs %}    

{% block azkenEguneraketa %}
    <div id="ifk">{{ fitxa.udala.ifk }}</div>
    <div class="list-inline ml-auto">
        {% if fitxa.updatedAt %}
            {{ 'messages.azkenEguneraketa' | trans }}: {{ fitxa.updatedAt|date('Y-m-d H:i:s') }}
        {% endif %}
    </div>
{% endblock azkenEguneraketa %}

{% block body %}
    {# <nav id="azken_eguneraketa_lerroa" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header w100 flex-row-wrap">
                <div id="ifk">{{ fitxa.udala.ifk }}</div>
                <div class="list-inline ml-auto">
                    {% if fitxa.updatedAt %}
                        {{ 'messages.azkenEguneraketa' | trans }}: {{ fitxa.updatedAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav> #}
    <div class="container" role="main">
        {% block fitxaTitle %}
            <div class="fitxaTitle-block mt-1">
                <div class="container-fluid pr-0 flex-row-wrap justify-content-flex-end pl-0">
                    <div id="fitxaTitleDiv" class="col-md-10 col-sm-12 w100 mr-auto pl-1">
                        <h2 class="fitxaTitle">
                            <b>
                                {% if app.request.locale == 'eu' %}
                                    {{ fitxa.deskribapenaeu }}
                                {% else %}
                                    {{ fitxa.deskribapenaes }}
                                {% endif %}
                            </b>
                        </h2>
                    </div>
                    <div id="fitxaTitleEspedienteKodea" class="max-width-100 w100 mr-auto">
                        <div class="espedienteKodeaBtn-active">
                            {{ fitxa.espedienteKodea }}
                        </div>                    
                    </div>
                </div>
            </div>
        {% endblock fitxaTitle %}
        <div class="container-fluid pl-0 pr-0">
            {% block aurkibidea %}
                <aside class="col-lg-4 col-md-4 col-sm-4 pr-0 pl-0 position-sticky-170px">
                    {{ include('frontend/_aurkibidea.html.twig') }}
                </aside>
            {% endblock aurkibidea %}
            <div id="eduki-nagusia" class="col-lg-8 col-md-8 col-sm-8 left">
                {% block edukiNagusia %}
                    {{ include('frontend/_helburua.html.twig') }}
                    {{ include('frontend/_norkeskatu.html.twig') }}
                    {{ include('frontend/_dokumentazioa.html.twig') }}
                    {{ include('frontend/_doklagun.html.twig') }}
                    {{ include('frontend/_kanala.html.twig') }}
                    {{ include('frontend/_kostua.html.twig') }}
                    {{ include('frontend/_ebazpen.html.twig') }}
                    {{ include('frontend/_araudia.html.twig') }}
                    {{ include('frontend/_prozedura.html.twig') }}
                    {{ include('frontend/_norkebatzi.html.twig') }}
                    {{ include('frontend/_azpisaila.html.twig') }}
                    {{ include('frontend/_oharrak.html.twig') }}
                    {{ include('frontend/_besteak.html.twig') }}
                    {{ include('frontend/_datuenbabesa.html.twig') }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock body %}
