{% extends 'base.html.twig' %}

{% block menuTitle %}
    <a class="navbar-brand">{{ 'messages.espedientekudeaketa'| trans }}</a>
{% endblock menuTitle %}

{% block menuOptions %}
    <ul class="nav navbar-nav">
        <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> {{ 'messages.gorde'| trans }}</a></li>
        <li><a href="{{ path('espedientekudeaketa_index') }}" class="fa fa-undo"> {{ 'messages.utzi'| trans }}</a></li>
    </ul>
{% endblock menuOptions %}

{% block body %}
    <div class="container" role="main">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <b>{{ 'messages.izena'| trans }} ({{ 'messages.eu'| trans }})</b>
                    {#{{ form_label(form.izenaeu, 'Izena (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(form.izenaeu) }}
                    {{ form_widget(form.izenaeu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <b>{{ 'messages.izena'| trans }} ({{ 'messages.es'| trans }})</b>
                    {#{{ form_label(form.izenaes, 'Izena (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(form.izenaes) }}
                    {{ form_widget(form.izenaes, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <b>{{ 'messages.esteka'| trans }} ({{ 'messages.eu'| trans }})</b>
                    {#{{ form_label(form.urleu, 'URL (eu): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(form.urleu) }}
                    {{ form_widget(form.urleu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <b>{{ 'messages.esteka'| trans }} ({{ 'messages.es'| trans }})</b>
                    {#{{ form_label(form.urles, 'URL (es): ', { 'label_attr': {'class': 'control-label'} }) }}#}
                    {{ form_errors(form.urles) }}
                    {{ form_widget(form.urles, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock body %}
