{% extends "base.html.twig" %}

{% trans_default_domain 'user_bundle' %}

{% block title %}List Users{% endblock %}

{% block menua %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-lower " data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">{{ 'messages.erabiltzaileak'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('admin_user_new') }}" class="fa fa-plus">
                            {{ 'messages.erabiltzaileberria'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <main>
		<div class="container-fluid">
			{{ include('@User/user/_list.html.twig', {
				'users': users,
			})}}
		</div>
		{# {{ include('common/_alert.html.twig') }} #}
    </main>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-list') }}
{% endblock %}